@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Rag';
  font-style: regular;
  src: url('assets/fonts/RAG-REGULAR.OTF') format('truetype');
} */



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

